.about {
  &__intro {
    background: $neutral-light;
    padding: 5rem 2rem;
  }

  &__services {
    background-image: url(../img/about-main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30rem 2rem 3rem 2rem;
    margin-bottom: 10rem;

    ul {
      padding-top: 2rem;

      li {
        font-size: 2rem;
        font-weight: 700;
        list-style: square;
        list-style-position: inside;
        text-transform: uppercase;
        letter-spacing: .1em;
      }
    }
  }

  &__cta {
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 3rem;
    outline: none;
    border: 1px solid $primary-dark;
    border-radius: 5px;
    background: $primary-dark;
    color: $neutral-light;
    text-transform: uppercase;
    cursor: pointer;
    @include transition(all);

    &:hover {
      background: $neutral-light;
      color: $primary-dark;
    }

    &--main {
      background: $neutral-light;
      color: $primary-dark;
      margin-right: .5rem;

      &:hover {
        background: $primary-dark;
        color: $neutral-light;
      }
    }
  }

  &__text {
    background: rgba(0, 0, 0, 0.4);
    color: $neutral-light;
    padding: 2rem;
    border-radius: 1rem;
  }

  &__team {
    text-align: center;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
    max-width: 120rem;
    text-align: left;
    margin: 2rem auto 10rem auto;

    @include media-sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-lg {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__card {
    @include flex(column, stretch);
    box-shadow: 1px 1px 3px $neutral;
    border-radius: 10px;
    overflow: hidden;

    &-text {
      background: $neutral-light;
      padding: 1rem;
      line-height: 1.4;
    }

    &-name {
      color: $neutral-dark;
      padding-top: 1rem;
    }

    &-title {
      color: $neutral-dark;
      text-transform: uppercase;
      padding-bottom: 1rem;
    }
  }
}
