.contact {

  &__intro {
    background: $neutral-light;
    padding: 5rem 2rem;
  }

  &__details {
    text-align: center;
  }

  &__list {
    padding-bottom: 10rem;
    @include flex(column, center);
    align-items: stretch;

    @include media-md {
      flex-direction: row;
    }
  }

  &__item {
    @include flex(row, flex-start);
    margin: 1rem;
    padding: 3rem 1rem;
    border: 1px solid $primary-dark;
    box-shadow: 1px 1px 2px $neutral;
    border-radius: 1rem;
    flex: 1;

    @include media-md {
      justify-content: center;
    }

    ion-icon {
      font-size: 4rem;
      color: $neutral-light;
      margin-right: 2rem;
      background-color: $primary-dark;
      padding: 1rem;
      border-radius: 50%;
      cursor: pointer;
      @include transition(background-color);

      &:hover {
        background-color: $neutral-dark;
      }
    }
  }
}

.contact__form {
  background: linear-gradient(to bottom right, $neutral, $neutral-dark, $neutral);
  color: $neutral-light;
  padding: 4rem;
  text-align: center;
}

.form {
  @include flex(column, center);
  max-width: 30rem;
  margin: 0 auto;

  @include media-md {
    max-width: 50rem;
  }

  &__input {
    position: relative;
    padding-bottom: 2.5rem;
    width: 100%;

    .input {
      display: block;
      width: 100%;
      padding: 1rem;
      font: inherit;
      outline: none;
      border-radius: 0.5rem;
      border: 1px solid $neutral-dark;
     
      &:focus {
        outline: 2px solid $primary-dark;
      }
    }
  }

  .form__input-error {
    outline: 3px solid $primary-dark;
  }

  .form__input-success {
    outline: 3px solid $success-color;
  }

  &__icon-error {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    color: $primary-dark;
    font-size: 2rem;
    visibility: hidden;
  }

  &__msg-error {
    position: absolute;
    font-size: 1.2rem;
    color: $neutral-light;
    bottom: 0;
    right: 1rem;
    visibility: hidden;
  }

  &__btn {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    outline: none;
    border: 1px solid $primary-dark;
    border-radius: 5px;
    background: $primary-dark;
    color: $neutral-light;
    text-transform: uppercase;
    font: inherit;
    cursor: pointer;
    @include transition(all);

    &:hover {
      background: $neutral-light;
      color: $neutral-dark;
    }
  }
}

.contact__image {
  background: url(../img/contact-main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 75rem;
  width: 100%;
}
