.gallery {
  padding: 10rem 0 0 0;
  background: $neutral-dark;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__img-box {
    flex: 0 0 100%;
    border: 2px solid $neutral-dark;
    padding: 1rem;
    cursor: pointer;
    position: relative;

    @include media-md {
      flex: 0 0 50%;
    }

    @include media-lg {
      flex: 0 0 33.33333%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    background: $primary-color;
    opacity: 0.6;
    @include transition(all);

    &:hover {
      transform: scale(1.02);
      opacity: 1;
    }
  }
}

figcaption {
  font-size: 3rem;
  position: absolute;
  left: 2rem;
  bottom: 1rem;
  color: $neutral-light;
  font-weight: 300;
}
