@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Balsamiq Sans', cursive;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /* 10px / 16px = 62.5% => 1rem = 10px */
}

body {
  font-size: 1.6rem;
  color: #6c6d79;
  line-height: 1.6;
  max-width: 144rem;
  margin: 0 auto;
}

.body__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 1024px) {
  .body__container {
    -ms-grid-columns: minmax(20vw, 30rem) (1fr)[2];
        grid-template-columns: minmax(20vw, 30rem) repeat(2, 1fr);
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

p {
  padding-bottom: 1rem;
}

h1, h2 {
  padding: 1rem 0;
  font-weight: 700;
}

h1 {
  font-size: 2.7rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 2.5rem;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 3rem;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  header {
    position: relative;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

header nav {
  padding-top: 3rem;
}

@media screen and (min-width: 1024px) {
  header nav {
    padding-top: 8rem;
  }
}

header h2 {
  color: #0f0e17;
}

header .nav__logo {
  width: 8rem;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  header .nav__logo {
    width: 12rem;
  }
}

header .nav__logo:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

header .nav__list {
  margin: 2rem 0;
}

@media screen and (min-width: 1024px) {
  header .nav__list {
    margin: 6rem 0;
  }
}

header .nav__list li {
  padding: .5rem 1.5rem;
  margin: .5rem auto;
  font-size: 2rem;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

@media screen and (min-width: 1024px) {
  header .nav__list li {
    font-size: 2.7rem;
  }
}

header .nav__link {
  color: #6c6d79;
  font-weight: 700;
  position: relative;
  display: inline-block;
  padding-bottom: .3rem;
}

@media screen and (min-width: 1024px) {
  header .nav__link {
    color: #fffffe;
  }
}

header .nav__link::before, header .nav__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f25f4c;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

@media screen and (min-width: 1024px) {
  header .nav__link::before, header .nav__link::after {
    background-color: #0f0e17;
  }
}

header .nav__link::after {
  bottom: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .nav__link::before {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

header .nav__link:hover {
  color: #0f0e17;
}

header .nav__link:hover::before, header .nav__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header h3 {
  padding-bottom: 1rem;
}

header .nav__list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

header .nav__list-social li {
  display: block;
  padding: 1rem;
  margin: .5rem;
  background-color: #FF7A69;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 2px #A63223;
          box-shadow: 1px 1px 2px #A63223;
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

@media screen and (min-width: 1024px) {
  header .nav__list-social li {
    background-color: #fffffe;
  }
}

header .nav__list-social li:hover {
  background-color: #fffffe;
}

@media screen and (min-width: 1024px) {
  header .nav__list-social li:hover {
    background-color: #A63223;
  }
}

header .nav__link-social img {
  width: 2.3rem;
  vertical-align: middle;
}

header .nav__toggle {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  header .nav__toggle {
    display: none;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 25rem;
  height: 100%;
  background: #fffffe;
  text-align: center;
  -webkit-transform: translateX(-25rem);
          transform: translateX(-25rem);
  position: relative;
  padding: 0 2rem;
}

@media screen and (min-width: 1024px) {
  .header__container {
    max-width: 40rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding: 2rem;
    margin: 0 auto;
    background: -webkit-gradient(linear, left top, right bottom, from(#f25f4c), to(#A63223));
    background: linear-gradient(to bottom right, #f25f4c, #A63223);
    color: #fffffe;
  }
}

.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 1024px) {
  .main__container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
}

.intro__section {
  background: radial-gradient(#f25f4c, #A63223);
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .intro__section {
    background: radial-gradient(#fffffe, #6c6d79);
  }
}

.intro__section .intro__title {
  font-size: 4rem;
  letter-spacing: .1rem;
  line-height: 1.2;
  color: #fffffe;
}

@media screen and (min-width: 768px) {
  .intro__section .intro__title {
    font-size: 6rem;
  }
}

.intro__section .intro__lead {
  color: #0f0e17;
  text-align: center;
  margin-bottom: 5rem;
  padding: 0 2rem;
}

.intro__section .intro__img {
  width: 80%;
  max-width: 60rem;
}

.about__intro {
  background: #fffffe;
  padding: 5rem 2rem;
}

.about__team {
  background: #fffffe;
  padding-bottom: 5rem;
  position: relative;
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .about__team {
    overflow: hidden;
  }
}

.about__team .about__img {
  max-width: 60%;
  margin-left: -10rem;
}

.about__team .about__text {
  background: -webkit-gradient(linear, left top, right bottom, from(#f25f4c), to(#A63223));
  background: linear-gradient(to bottom right, #f25f4c, #A63223);
  color: #fffffe;
  padding: 2rem;
  position: absolute;
  max-width: 70%;
  top: 4rem;
  right: 1rem;
}

@media screen and (min-width: 768px) {
  .about__team .about__text {
    max-width: 60%;
  }
}

.about__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
  max-width: 120rem;
  margin: 10rem auto;
}

@media screen and (min-width: 500px) {
  .about__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .about__cards {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.about__cards .about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 3px #6c6d79;
          box-shadow: 1px 1px 3px #6c6d79;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.about__cards .about__card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.about__cards .about__card-text {
  background: #fffffe;
  padding: 1rem;
  line-height: 1.4;
}

.about__cards .about__card-name {
  color: #0f0e17;
  padding-top: 1rem;
}

.about__cards .about__card-title {
  color: #0f0e17;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.footer__container {
  background: #0f0e17;
  color: #fffffe;
  padding: 4rem 1rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.footer__container h3 {
  padding: 0 .5rem;
}

.footer__contact {
  margin: 4rem 0;
}

.footer__contact ion-icon {
  font-size: 2.5rem;
  color: #f25f4c;
  padding: 0 .5rem;
}

.footer__attribution {
  border-top: 1px solid #6c6d79;
  padding: 3rem 0;
  text-align: center;
}

footer a {
  color: #6c6d79;
}
/*# sourceMappingURL=main.css.map */