@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@300;400;700&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /* 10px / 16px = 62.5% => 1rem = 10px */
}

body {
  margin: 0 auto;
}

body {
  font-family: "Balsamiq Sans", cursive;
  font-size: 1.6rem;
  font-weight: 400;
  color: #6c6d79;
  line-height: 1.6;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

p {
  padding-bottom: 1rem;
}

.title {
  padding: 1rem 0;
  font-size: 2.8rem;
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 3.2rem;
  }
}

.subtitle {
  padding: 1rem 0;
  font-size: 2.5rem;
}

@media screen and (min-width: 1024px) {
  .subtitle {
    font-size: 3rem;
  }
}

.footer {
  background: #0f0e17;
  color: #fffffe;
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
  font-size: 1.3rem;
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-left: auto;
    width: 75%;
  }
}

.footer__nav {
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .footer__nav {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__contact {
  padding: 2rem 0;
  border-bottom: 1px solid #6c6d79;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .footer__contact {
    border: none;
  }
}

.footer__contact ion-icon {
  font-size: 2.5rem;
  color: #f25f4c;
  padding: 0 0.5rem;
}

.footer__navlinks {
  padding: 1.5rem 0;
}

.footer__navlinks a {
  color: #fffffe;
}

.footer__attribution {
  border-top: 1px solid #6c6d79;
  padding-top: 3rem;
  text-align: center;
  line-height: 1;
}

.footer__attribution ion-icon {
  font-size: 1.2rem;
  color: #f25f4c;
}

.footer__link {
  color: #f25f4c;
}

.main__container {
  min-height: 100vh;
}

@media screen and (min-width: 1024px) {
  .main__container {
    margin-left: auto;
    width: 75%;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  header {
    height: 100vh;
    width: 25%;
    background: linear-gradient(100deg, #f25f4c, #A63223);
    color: #fffffe;
  }
}

.nav__toggle {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  z-index: 2;
  outline: 3px solid #A63223;
  outline-offset: 0.7rem;
}

@media screen and (min-width: 1024px) {
  .nav__toggle {
    display: none;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 25rem;
  height: 100vh;
  background: #fffffe;
  text-align: center;
  -webkit-transform: translateX(-27rem);
          transform: translateX(-27rem);
  position: relative;
  padding: 0 2rem;
}

@media screen and (min-width: 1024px) {
  .header__container {
    max-width: 30rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    padding: 2rem;
    margin: 0 auto;
    background: transparent;
  }
}

.nav {
  padding-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .nav {
    padding-top: 8rem;
  }
}

.nav__logo {
  width: 10rem;
  margin: 2rem auto 0 auto;
}

@media screen and (min-width: 1024px) {
  .nav__logo {
    margin: 0 auto 2rem auto;
    width: 15rem;
  }
}

.nav__logo:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.nav__title {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  color: #0f0e17;
  border-bottom: 2px solid #0f0e17;
  margin-bottom: 6rem;
}

@media screen and (min-width: 1024px) {
  .nav__title {
    font-size: 4rem;
  }
}

.nav__list {
  margin-bottom: 4rem;
}

@media screen and (min-width: 1024px) {
  .nav__list {
    margin: 6rem 0;
  }
}

.nav__list li {
  padding: 0 1.5rem;
  margin: 0.2rem auto;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

@media screen and (min-width: 1024px) {
  .nav__list li {
    font-size: 2.7rem;
    margin: 0.7rem auto;
  }
}

.nav__list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.nav__list-social li {
  display: block;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #f25f4c;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 2px #A63223;
          box-shadow: 1px 1px 2px #A63223;
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

@media screen and (min-width: 1024px) {
  .nav__list-social li {
    background-color: #fffffe;
  }
}

.nav__list-social li:hover {
  background-color: #fffffe;
}

@media screen and (min-width: 1024px) {
  .nav__list-social li:hover {
    background-color: #A63223;
  }
}

.nav__list-social .nav__link-social ion-icon {
  font-size: 2rem;
  vertical-align: middle;
  color: #0f0e17;
}

.nav__link {
  color: #6c6d79;
  font-weight: 700;
  position: relative;
  display: inline-block;
  padding-bottom: 0.3rem;
}

@media screen and (min-width: 1024px) {
  .nav__link {
    color: #fffffe;
  }
}

.nav__link--active {
  color: #0f0e17;
}

@media screen and (min-width: 1024px) {
  .nav__link--active {
    color: #A63223;
  }
}

.nav__link::before, .nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f25f4c;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

@media screen and (min-width: 1024px) {
  .nav__link::before, .nav__link::after {
    background-color: #0f0e17;
  }
}

.nav__link::after {
  bottom: 0;
}

.nav__link::before {
  bottom: 0;
}

.nav__link:hover {
  color: #0f0e17;
}

.nav__link:hover::before, .nav__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.about__intro {
  background: #fffffe;
  padding: 5rem 2rem;
}

.about__services {
  background-image: url(../img/about-main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30rem 2rem 3rem 2rem;
  margin-bottom: 10rem;
}

.about__services ul {
  padding-top: 2rem;
}

.about__services ul li {
  font-size: 2rem;
  font-weight: 700;
  list-style: square;
  list-style-position: inside;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.about__cta {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 3rem;
  outline: none;
  border: 1px solid #A63223;
  border-radius: 5px;
  background: #A63223;
  color: #fffffe;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.about__cta:hover {
  background: #fffffe;
  color: #A63223;
}

.about__cta--main {
  background: #fffffe;
  color: #A63223;
  margin-right: .5rem;
}

.about__cta--main:hover {
  background: #A63223;
  color: #fffffe;
}

.about__text {
  background: rgba(0, 0, 0, 0.4);
  color: #fffffe;
  padding: 2rem;
  border-radius: 1rem;
}

.about__team {
  text-align: center;
}

.about__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
  max-width: 120rem;
  text-align: left;
  margin: 2rem auto 10rem auto;
}

@media screen and (min-width: 500px) {
  .about__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .about__cards {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 3px #6c6d79;
          box-shadow: 1px 1px 3px #6c6d79;
  border-radius: 10px;
  overflow: hidden;
}

.about__card-text {
  background: #fffffe;
  padding: 1rem;
  line-height: 1.4;
}

.about__card-name {
  color: #0f0e17;
  padding-top: 1rem;
}

.about__card-title {
  color: #0f0e17;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.contact__intro {
  background: #fffffe;
  padding: 5rem 2rem;
}

.contact__details {
  text-align: center;
}

.contact__list {
  padding-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (min-width: 768px) {
  .contact__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  padding: 3rem 1rem;
  border: 1px solid #A63223;
  -webkit-box-shadow: 1px 1px 2px #6c6d79;
          box-shadow: 1px 1px 2px #6c6d79;
  border-radius: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 768px) {
  .contact__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact__item ion-icon {
  font-size: 4rem;
  color: #fffffe;
  margin-right: 2rem;
  background-color: #A63223;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

.contact__item ion-icon:hover {
  background-color: #0f0e17;
}

.contact__form {
  background: -webkit-gradient(linear, left top, right bottom, from(#6c6d79), color-stop(#0f0e17), to(#6c6d79));
  background: linear-gradient(to bottom right, #6c6d79, #0f0e17, #6c6d79);
  color: #fffffe;
  padding: 4rem;
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 30rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .form {
    max-width: 50rem;
  }
}

.form__input {
  position: relative;
  padding-bottom: 2.5rem;
  width: 100%;
}

.form__input .input {
  display: block;
  width: 100%;
  padding: 1rem;
  font: inherit;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid #0f0e17;
}

.form__input .input:focus {
  outline: 2px solid #A63223;
}

.form .form__input-error {
  outline: 3px solid #A63223;
}

.form .form__input-success {
  outline: 3px solid #6B8E23;
}

.form__icon-error {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  color: #A63223;
  font-size: 2rem;
  visibility: hidden;
}

.form__msg-error {
  position: absolute;
  font-size: 1.2rem;
  color: #fffffe;
  bottom: 0;
  right: 1rem;
  visibility: hidden;
}

.form__btn {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid #A63223;
  border-radius: 5px;
  background: #A63223;
  color: #fffffe;
  text-transform: uppercase;
  font: inherit;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.form__btn:hover {
  background: #fffffe;
  color: #0f0e17;
}

.contact__image {
  background: url(../img/contact-main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 75rem;
  width: 100%;
}

.gallery {
  padding: 10rem 0 0 0;
  background: #0f0e17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.gallery__img-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  border: 2px solid #0f0e17;
  padding: 1rem;
  cursor: pointer;
  position: relative;
}

@media screen and (min-width: 768px) {
  .gallery__img-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media screen and (min-width: 1024px) {
  .gallery__img-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
}

.gallery__image {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  background: #f25f4c;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.gallery__image:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 1;
}

figcaption {
  font-size: 3rem;
  position: absolute;
  left: 2rem;
  bottom: 1rem;
  color: #fffffe;
  font-weight: 300;
}

.intro {
  padding: 5rem 0;
  height: 100vh;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fffffe;
  background: rgba(0, 0, 0, 0.6);
}

.intro__title {
  font-size: 4rem;
  margin-bottom: .5rem;
  padding-bottom: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  font-weight: 300;
  border-bottom: 2px solid #fffffe;
}

@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .intro__title {
    display: none;
  }
}

.intro__lead {
  padding: .5rem 1.5rem;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF7A69), to(#A63223));
  background-image: linear-gradient(to right, #FF7A69, #A63223);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media screen and (min-width: 768px) {
  .intro__lead {
    font-size: 6rem;
    padding: .5rem 3rem;
  }
}

.intro__details {
  margin-bottom: 3rem;
  max-width: 50rem;
  font-size: 2.5rem;
  font-weight: 300;
}

.intro__cta a {
  display: block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #fffffe;
  border: 1px solid #A63223;
  border-radius: 5px;
  background: #A63223;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.intro__cta a:hover {
  background: #fffffe;
  color: #0f0e17;
}

.intro .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.intro .bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */