.main__container {
  min-height: 900px;
 
  @include media-lg {
    grid-row:  1 / 2;
    grid-column: 2 / 4;    
  }
}

.intro__section { 
  padding: 5rem 0; 
  height: 900px;
  position: relative;
  text-align: center;
  @include flex(column, center);
  color: $neutral-light;
  background: rgba(0, 0, 0, .5);

  .intro__title {    
    font-size: 4rem;
    margin-bottom: 2rem;
    letter-spacing: .1rem;
    line-height: 1.2; 
    padding: 0.5rem 3rem;  
    border: 2px solid $neutral-light;
    outline: 1px solid $neutral-light;
    outline-offset: 1.5rem;      

    @include media-md {
      font-size: 6rem;
    }
  }

  .intro__lead {       
    margin-bottom: 6rem;
    padding: 0.5rem 3rem;
    text-transform: uppercase; 

    @include media-md {
      font-size: 4rem;
    }
  }

  .intro__details {
    margin-bottom: 4rem;
    max-width: 400px;
  }

  .intro__cta a {
    display: block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 2rem;
    color: $neutral-dark;
    background: $neutral-light;
    @include transition(background-color); 
    
    &:hover {
      background-color: linear-gradient(to bottom right, $primary-color, $primary-dark);
      color: $neutral-light;
    }
  }

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden; 
      
    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;      
    }
  }
}