.main__container {
   @include media-lg {
    grid-row:  1 / 2;
    grid-column: 2 / 4;    
  }
}

.intro__section {
  background: radial-gradient($primary-color, $primary-dark);
  padding: 5rem 0;
  @include flex(column, center);
  
  .intro__title {    
    font-size: 4rem;
    letter-spacing: .1rem;
    line-height: 1.2;
    color: $neutral-light;

    @include media-md {
      font-size: 6rem;
    }
  }

  .intro__lead {
    margin-bottom: 3rem;
    color: $neutral-dark;
  }

  .intro__img {
    width: 80%;
    max-width: 60rem;;
  } 
}