header {  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;  
  
  @include media-lg {
    position: relative;  
    grid-row: 1 / 3; 
    grid-column: 1 / 2;    
  }

  nav {
    padding-top: 3rem;

    @include media-lg {
      padding-top: 8rem;
    }
  }

  h2 {
    color: $neutral-dark;
  }

  .nav__logo {
    width: 10rem;
    margin: 2rem auto 0 auto;

    @include media-lg {
      margin: 0 auto 2rem auto;
      width: 15rem;
    }

    &:hover {
      transform: scale(.95);
    }     
  }

  .nav__title {
    font-size: 2.5rem;
    letter-spacing: .1rem;
    line-height: 1; 
    border-bottom: 2px solid $neutral-dark;  
    margin-bottom: 6rem;    

    @include media-lg {
      font-size: 4rem;      
    }    
  }

  .nav__list {
    margin-bottom: 4rem; 
    
    @include media-lg {
      margin: 6rem 0;
    }

    li {
      padding: 0 1.5rem; 
      margin: .2rem auto;
      font-size: 2rem;
      text-transform: uppercase;    
      border-radius: 10px;       
      @include transition(all); 
      
      @include media-lg {
        font-size: 2.7rem;
        margin: .7rem auto;
      }
    }
  }

  .nav__link {   
    color: $neutral;
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-bottom: .3rem;

    @include media-lg {
      color: $neutral-light;
    }

    &--active {
      color: $neutral-dark;

      @include media-lg {
        color: $primary-dark;
      }
    }
      
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      left: 0;
      transform: scaleX(0);
      @include transition(all);

      @include media-lg {
        background-color: $neutral-dark;
      }
    }

    &::after {
      bottom: 0;
    }

    &::before {
      bottom: 0;
    }

    &:hover {
      color: $neutral-dark;
    }
    
    &:hover::before,
    &:hover::after {
      transform: scaleX(1);
    }
  }  

  .nav__list-social {
    @include flex(row, center);
    padding: 2rem 0;

    li {
      display: block;
      padding: 1rem;
      margin: .5rem;     
      background-color: $primary-color;
      border-radius: 50%;
      box-shadow: 1px 1px 2px $primary-dark;
      @include transition(background-color);

      @include media-lg {
        background-color: $neutral-light;
      }

      &:hover {
        background-color: $neutral-light;

        @include media-lg {
          background-color: $primary-dark;
        }
      } 
    }
  }

  .nav__link-social img {
    width: 2.3rem;
    vertical-align: middle; 
  }

  .nav__toggle {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    z-index: 2;  
    outline: 3px solid $primary-dark;
    outline-offset: .7rem;

    @include media-lg {
      display: none;
    }
  }
}

.header__container {
  @include flex(column, space-between);
  max-width: 25rem;
  height: 100%;
  background: $neutral-light;
  text-align: center;
  transform: translateX(-27rem);
  position: relative;
  padding: 0 2rem;
 
  @include media-lg {
    max-width: 60rem;      
    transform: translateX(0);
    padding: 2rem; 
    margin: 0 auto;
    background: linear-gradient(100deg, $primary-color, $primary-dark);
    color: $neutral-light;
  }
}

.active {
  transform: translateX(0);  
}

