header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  @include media-lg {
    height: 100vh;
    width: 25%;
    background: linear-gradient(100deg, $primary-color, $primary-dark);
    color: $neutral-light;
  }
}

.nav__toggle {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  z-index: 2;
  outline: 3px solid $primary-dark;
  outline-offset: 0.7rem;

  @include media-lg {
    display: none;
  }
}

.header__container {
  @include flex(column, space-between);
  max-width: 25rem;
  height: 100vh;
  background: $neutral-light;
  text-align: center;
  transform: translateX(-27rem);
  position: relative;
  padding: 0 2rem;

  @include media-lg {
    max-width: 30rem;  
    transform: translateX(0);
    padding: 2rem;
    margin: 0 auto;
    background: transparent;
  }
}

.nav {
  padding-top: 3rem;

  @include media-lg {
    padding-top: 8rem;
  }

  &__logo {
    width: 10rem;
    margin: 2rem auto 0 auto;

    @include media-lg {
      margin: 0 auto 2rem auto;
      width: 15rem;
    }

    &:hover {
      transform: scale(0.95);
    }
  }

  &__title {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    color: $neutral-dark;
    border-bottom: 2px solid $neutral-dark;
    margin-bottom: 6rem;

    @include media-lg {
      font-size: 4rem;
    }
  }

  &__list {
    margin-bottom: 4rem;

    @include media-lg {
      margin: 6rem 0;
    }

    li {
      padding: 0 1.5rem;
      margin: 0.2rem auto;
      font-size: 2rem;
      text-transform: uppercase;
      border-radius: 10px;
      @include transition(all);

      @include media-lg {
        font-size: 2.7rem;
        margin: 0.7rem auto;
      }
    }
  }

  &__list-social {
    @include flex(row, center);
    padding: 2rem 0;

    li {
      display: block;
      padding: 1rem;
      margin: 0.5rem;
      background-color: $primary-color;
      border-radius: 50%;
      box-shadow: 1px 1px 2px $primary-dark;
      @include transition(background-color);

      @include media-lg {
        background-color: $neutral-light;
      }

      &:hover {
        background-color: $neutral-light;

        @include media-lg {
          background-color: $primary-dark;
        }
      }
    }

    .nav__link-social img {
      width: 2.3rem;
      vertical-align: middle;
    }
  }
}

.nav__link {
  color: $neutral;
  font-weight: 700;
  position: relative;
  display: inline-block;
  padding-bottom: 0.3rem;

  @include media-lg {
    color: $neutral-light;
  }

  &--active {
    color: $neutral-dark;

    @include media-lg {
      color: $primary-dark;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $primary-color;
    left: 0;
    transform: scaleX(0);
    @include transition(all);

    @include media-lg {
      background-color: $neutral-dark;
    }
  }

  &::after {
    bottom: 0;
  }

  &::before {
    bottom: 0;
  }

  &:hover {
    color: $neutral-dark;
  }

  &:hover::before,
  &:hover::after {
    transform: scaleX(1);
  }
}

.active {
  transform: translateX(0);
}
