@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@300;400;700&display=swap");

body {
  font-family: "Balsamiq Sans", cursive;
  font-size: 1.6rem;
  font-weight: 400;
  color: $neutral;
  line-height: 1.6;
}
