a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

p {
  padding-bottom: 1rem;
}

.title {
  padding: 1rem 0;
  font-size: 2.8rem;

  @include media-lg {
    font-size: 3.2rem;
  }
}

.subtitle {
  padding: 1rem 0;
  font-size: 2.5rem;

  @include media-lg {
    font-size: 3rem;
  }
}
