html {
  scroll-behavior: smooth;
  box-sizing: border-box; 
  font-size: 62.5%;  /* 10px / 16px = 62.5% => 1rem = 10px */
}

body {
  font-size: 1.6rem;
  color: $neutral;
  line-height: 1.6;
  max-width: $max-width;
  margin: 0 auto;  
}

.body__container {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr;
 
  @include media-lg {
    grid-template-columns: minmax(mincontent, 30vw) repeat(2, 1fr);    
  }  
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

p {
  padding-bottom: 1rem;
}

h1, h2 {
  padding: 1rem;
  font-weight: 700;
}

h1 {
  font-size: 2.7rem;

  @include media-lg {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 2.5rem;

  @include media-lg {
    font-size: 3rem;
  }
}
